<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35918756299-mda9v2q6c2ah3en33le7lp44t3rrupg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35918756299-mda9v2q6c2ah3en33le7lp44t3rrupg6</string>
	<key>API_KEY</key>
	<string>AIzaSyBpNfy6_X5IMrqpdDKZdNBNqz26Lh_FfDc</string>
	<key>GCM_SENDER_ID</key>
	<string>35918756299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoWithFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todofire-6e882</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-6e882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35918756299:ios:fd791bcc6fb6b3fa425e4e</string>
</dict>
</plist>